.idea/
mariadb-init
postgres-init
mutagen.yml.lock
.vscode
.DS_Store
#.env
mariadb/
#codebase/

# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore configuration files that may contain sensitive information
codebase/web/sites/*/*settings*.php
codebase/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
codebase/web/sites/*/files
codebase/web/sites/*/public
codebase/web/sites/*/private
codebase/web/sites/*/files-public
codebase/web/sites/*/files-private

# Ignore paths that may contain temporary files
codebase/web/sites/*/translations
codebase/web/sites/*/tmp
codebase/web/sites/*/cache

# Ignore drupal core (if not versioning drupal sources)
codebase/web/vendor
codebase/web/core
codebase/web/modules/README.txt
codebase/web/profiles/README.txt
codebase/web/sites/development.services.yml
codebase/web/sites/example.settings.local.php
codebase/web/sites/example.sites.php
codebase/web/sites/README.txt
codebase/web/themes/README.txt
codebase/web/.csslintrc
codebase/web/.editorconfig
codebase/web/.eslintignore
codebase/web/.eslintrc.json
codebase/web/.gitattributes
codebase/web/.htaccess
codebase/web/.ht.router.php
codebase/web/autoload.php
codebase/web/composer.json
codebase/web/composer.lock
codebase/web/example.gitignore
codebase/web/index.php
codebase/web/INSTALL.txt
codebase/web/LICENSE.txt
codebase/web/README.txt
codebase/web/robots.txt
codebase/web/update.php
codebase/web/web.config

# Ignore vendor dependencies and scripts
codebase/vendor
codebase/composer.phar
codebase/composer
codebase/robo.phar
codebase/robo
codebase/drush.phar
codebase/drush
codebase/drupal.phar
codebase/drupal

codebase/.editorconfig
codebase/.gitattributes
codebase/web/README.md

codebase/web/modules/contrib/*
!codebase/web/modules/contrib/quicklearning_symbol/
/codebase/private
codebase/composer.lock
codebase/web/themes/contrib/*
